/* ================ GOOGLE FONT ================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

/* =============== CSS VARIABLES ================ */
:root {
    --header-height: 3.5rem;

    /* ============ COLORS ============== */
    --bg-color: white;
    --accent-color: blue;
    --text-color: black;
    --title-color: blue;
    --header-color: white;

    /* ======= FONTS & TYPOGRAPHY ======= */
    --main-font: 'Poppins', sans-serif;
    --header-font-size: 2rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ========= FONT WEIGHT ============ */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;

    /* ============ MARGINS ============= */
    --m-0-25: .25rem;
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;

    /* =========== Z INDEX ============= */
    --z-fixed: 100;

    /* ============ CUSTOM ============= */
    --btn-padding: 1.63rem;
    --board-size: 400px;
}

/* =========== RESPONSIVE TYPOGRAPHY ============ */
@media screen and (min-width: 992px) {
    /* ===== UPDATING VARIABLES ====== */
    :root {
        --big-font-size: 4rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 310px) {
    /* ==== MAKING MARKS RESPONSIVE ==== */
    :root {
        --board-icon-size: 5rem;
    }
}
 
/* ================ NORMAL TAGS ================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
    background: var(--bg-color);
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 90%;
    height: auto;
}

button, input {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    font-family: var(--main-font);
    font-size: var(--normal-font-size);
}

/* =================== HEADER ====================== */
.header {
    width: 100%;
    height: var(--header-height);
    background: var(--accent-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    color: var(--header-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--header-font-size);
}

/* =================== LAYOUT ===================== */
.container {
    /*max-width: 968px;*/
    margin-left: var(--m-1-5);
    margin-right: var(--m-1-5);
}

.input-output {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 100%;
    height: 70px;
    margin-top: var(--m-0-5);
    border: 1px solid black;
    background-color: pink;
    padding: var(--m-0-25) var(--m-0-5);
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
}

.input-controls {
    /*display: none;*/
    width: 100%;
    margin-top: var(--m-2);
}

.player-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputs-player-two {
    margin-top: var(--m-1);
}

.name-input {
    width: 100%;
    border: 1px solid black;
    padding: var(--m-0-5);
    margin-bottom: var(--m-0-5);
    font-size: var(--h3-font-size);
}

.mark-buttons-container {
    display: flex;
    align-items: center;
}

.mark-button {
    padding: var(--m-0-25);
    border: 1px solid black;
    margin-right: var(--m-0-5);
    width: 3rem;
    height: 3rem;
}

.start-button {
    margin-top: var(--m-1);
    border: 1px solid black;
    padding: var(--m-0-25) var(--btn-padding);
}

.board-container {
    margin-top: var(--m-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 85vw;
    height: 85vw;
    max-width: var(--board-size);
    max-height: var(--board-size);
    border: 2px solid black;
    background-color: white;
}

.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.cell:nth-child(-n+3) {
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.cell:nth-child(3n) {
    border-right: none;
}

.cell:nth-child(n) {
    border-left: none;
}

.cell:nth-last-child(-n+3) {
    border-bottom: none;
    border-top: none;
}

.restart-button {
    margin-top: var(--m-0-75);
    border: 1px solid black;
    padding: var(--m-0-25) var(--btn-padding);
}

/* ============== CLASSES MODIFIERS =============== */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible {
    opacity: 0;
    position: absolute;
    top: -150%;
}

.mark-selected {
    background-color: pink;
    transition: background-color .5s;
}

.board-disabled {
    background-color: aqua;
    cursor: not-allowed;
}